.container { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    width: 85%;
}


@media (max-width: 770px){
    .container {
        width : 100% ; 
    }


}