body {
    background-color:whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.image{
    width: 370px;
    margin-top: 50px;
}


@media (max-width: 770px){
    .container {
        margin: 0 10%; 
    }

    .image{
        width : 100%
    } 
}